<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!--控制台输出 -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss,SSS\}] %-5p [%t] %c{2\} - %m%n" />
		</layout>
		<!-- <filter class="org.apache.log4j.varia.LevelRangeFilter">    
            <param name="levelMin" value="info" />    
            <param name="levelMax" value="error" />    
            <param name="AcceptOnMatch" value="true" />    
        </filter> -->
	</appender>
	<!--每天记录一个日志 -->
	<appender name="dailyRollingFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- 设置日志输出文件名 -->
		<param name="File" value="D:\\sesxh\\sesxh.log" />
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS\}] %p (%c:%L)- %m%n" />
		</layout>
	</appender>

	<!-- 根logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</log4j:configuration>
